.loading-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;

  .spin {
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -20px;
  }

  &.show {
    visibility: visible;
  }
}

.loading-contained {
  position: relative;
}
